/**
 * Infortis/ultimo
 * Custom CSS fallback
 * app/design/frontend/Infortis/ultimo/web/css/_custom.less
 */

//
//  Custom CSS fallback
//  _____________________________________________

//  Fallback file for CSS overrides in custom child-themes.
//
//  To add custom CSS styles, create custom child-theme (with Ultimo
//  as its parent theme) and create "_custom.less" in the following location:
//  <YOUR_MAGENTO_INSTALL_DIRECTORY>/app/design/frontend/<YOUR_VENDOR_NAME>/<YOUR_THEME_NAME>/web/css/_custom.less

//  Below you can find usage examples.



// & when (@media-common = true) {
//
//     //  Set border color of search box
//
//     .header-regular .block-search input.input-text {
//         border-color: red;
//     }
//
// } // end: media-common



//  Uncomment the line below to disable Font Awesome icons:

// @fontawesome-enable: false;

.product-add-form form button {
	border-bottom: none;
	background-color:orange;
}

@media screen and (max-width: 433px) {
  .bannerMob{
    padding-bottom: 115px!important;
    width:100%;
 }
}
@media screen and (max-width: 992px) {
 .bannerMob{
    float: left;
    padding-bottom: 25px;
    width:100%;
 } 
}
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {
     .bannerMob{
    float: left;
    padding-bottom: 120px;
    width:100%;
 } 
}