<style>
	.offerte{
		background-color:orange !important;
		color:white !important;
	}

	.offerte:hover{
		color:white !important;
		background-color:darkorange !important;
	}
</style>

<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $buttonTitle = __('Offerte aanvragen'); ?>

<br />

<button type="submit"
        title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
        class="action primary tocart offerte"
        id="product-addtocart-button">
    <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
</button>
