<style>
	.contact-title{
		width:74.2%;
		margin-left:25.8%;
	}
	@media only screen and (max-width: 770px) {
	    .contact-title {
	        width:100%;
	        margin-left:0%;
	    }
	}
</style>
<div style="width:50%;float:left">
	<?php if($this->getProductName() !== false): ?>
		<h4><?php echo __('Uw product details') ?></h4>
		<hr>
		<p style="float:left;width:50%"><b><?php echo __('Naam') ?></b></p>
		<p style="float:right;width:50%"><?= $this->getProductName() ?></p>
	<?php endif; ?>
	<div class="clearer"></div>
	
	<?php if($this->getProductAttr() !== false): ?>
		<?php foreach($this->getProductAttr() as $attr): ?>
			<?php if($attr['value'] != ""): ?>
				<p style="float:left;width:50%"><b><?= $attr['label'] ?></b></p>
				<p style="float:right;width:50%"><?= $attr['value'] ?></p>
				<br />
			<?php endif; ?>
		<?php endforeach; ?>
	<?php endif; ?>
	
	<div class="clearer"></div>
</div>
<div style="<?php if($this->getProductName() !== false){ ?> width:50%; <?php } else { ?> width:100%; <?php } ?>float:right; margin-bottom:20px;">
	<?php 
    echo $block->getLayout()
               ->createBlock('Magento\Cms\Block\Block')
               ->setBlockId('contact_top')
               ->toHtml();
	?>
	<?php echo $this->getLayout()->createBlock("Magento\Contact\Block\ContactForm")->setTemplate("Magento_Contact::form.phtml")->toHtml();?>
</div>
<hr>

<div id="newsletter-validate-detail"> </div>

<?php 
    echo $block->getLayout()
               ->createBlock('Magento\Cms\Block\Block')
               ->setBlockId('contact_content')
               ->toHtml();
?>

<script type="text/javascript">
require([
	'jquery'
], function($) {
	$(document).ready(function(){
		$("#newsletter-validate-detail").appendTo("#contact-form");
	});
});
</script>

<script>
<?php if($this->getProductName() !== false && $this->getProductAttr() === false): ?>
    require(
    [
        'jquery',
        'jquery/ui'
    ], function($){
    	$(document).ready(function(){
    		var name = '<?php echo $this->getProductName(); ?>';

    		$('#comment').text('<?php echo __('Ik wil graag product:'); ?>' + " " + name + " " + '<?php echo __('bestellen.'); ?>');
    	});
    });
<?php elseif($this->getProductAttr() !== false): ?>
	require(
    [
        'jquery',
        'jquery/ui'
    ], function($){
    	$(document).ready(function(){
    		var name = '<?php echo $this->getProductName(); ?>';

    		var attrString = "";

    		<?php 
    			foreach($this->getProductAttr() as $attr){
    				?>attrString += ", <?php echo $attr['label'] ?>: " + '<?php echo $attr['value']; ?>'; <?php
    			};
    		?>

    		$('#comment').text('<?php echo __('Ik wil graag product:'); ?>' + " " + name + attrString + " " + '<?php echo __('bestellen.'); ?>');
    	});
    });

<?php endif; ?>

</script>
