<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
/** @var $block \Magento\ConfigurableProduct\Block\Product\View\Type\Configurable*/
$_product    = $block->getProduct();
$_attributes = $block->decorateArray($block->getAllowAttributes());

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$attributeSetInterface = $objectManager->create('Magento\Eav\Api\AttributeSetRepositoryInterface');

$attributeSetName = $attributeSetInterface->get($_product->getAttributeSetId())->getAttributeSetName();

$attributeSetName = trim($attributeSetName);
?>

<span style="color:#FF8A1B;font-size:25px">Prijs op aanvraag</span>

<?php if ($_product->isSaleable() && count($_attributes)):?>
    <?php foreach ($_attributes as $_attribute): ?>
        <div class="field configurable required">
            <label class="label" for="attribute<?= /* @escapeNotVerified */ $_attribute->getAttributeId() ?>">
                <span><?= $block->escapeHtml($_attribute->getProductAttribute()->getStoreLabel()) ?></span>
            </label>
            <div class="control">
                <select name="super_attribute[<?= /* @escapeNotVerified */ $_attribute->getAttributeId() ?>]"
                        data-selector="super_attribute[<?= /* @escapeNotVerified */ $_attribute->getAttributeId() ?>]"
                        data-validate="{required:true}"
                        id="attribute<?= /* @escapeNotVerified */ $_attribute->getAttributeId() ?>"
                        class="super-attribute-select">
                    <option value=""><?= /* @escapeNotVerified */ __('Choose an Option...') ?></option>
                </select>
            </div>
        </div>
    <?php endforeach; ?>

    <?php if($attributeSetName == "Kopen"): ?>
        <div class="field configurable">
            <label class="label" for="Kleur"><?= __('Kleur') ?></label>
            <div class="control">
                <input type="text" name="Kleur" />
            </div>
        </div>
        <input type="hidden" name="kopen" />
    <?php elseif($attributeSetName == "Huren"): ?>
        <div class="field configurable">
            <label class="label" for="locatie"><?= __('Locatie') ?></label>
            <div class="control">
                <input type="text" name="locatie" id="locatie" />
            </div>
        </div>
        <div class="field configurable">
            <label class="label" for="huren_vanaf"><?= __('huren vanaf') ?></label>
            <div class="control">
                <input type="text" name="huren_vanaf" id="huren_vanaf" />
            </div>
        </div>
        <div class="field configurable">
            <label class="label" for="huren_tot"><?= __('Huren tot') ?></label>
            <div class="control">
                <input type="text" name="huren_tot" id="huren_tot" />
            </div>
        </div>
        <input type="hidden" name="huren" />
    <?php endif; ?>

    <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "configurable": {
                    "spConfig": <?= /* @escapeNotVerified */ $block->getJsonConfig() ?>,
                    "gallerySwitchStrategy": "<?php /* @escapeNotVerified */ echo $block->getVar('gallery_switch_strategy',
                        'Magento_ConfigurableProduct') ?: 'replace'; ?>"
                }
            }
        }
    </script>

    <script type="text/javascript">

        require(['jquery', 'jquery/ui'], function($){
            $( "#huren_vanaf, #huren_tot" ).datepicker();
        })

    </script>
<?php endif;?>
