.homeContainer{
	margin-bottom:50px;
}
.homeImage{
	padding-left:190px;
}

.links-wrapper-separators{
	display:none;
}

.blockSmall{
	float:left;
	display:inline;
}

.blockLarge{
	float:left;
	display:inline;
}

.blockContainer{
	padding-left:15%;
	padding-right:10%;
}

@media only screen and (max-width: 700px) {
	.blockContainer{
		padding-left:0%;
		padding-right:0%;
	}

	.homeImage{
		width:100%;
		padding-left: 0px;
	}
}


.inner-container.links-wrapper-separators{
	display:none;
}

.block-inner-wrapper{
	display:flex;
	justify-content: center;
}

.block-item{
	margin:10px;
	position:relative;
}

.block-item div{
	position: absolute;
	color:white;
    top: 45px;
    left: 30px;
    font-size:150%;
    font-weight: bold;
}

.inner-container.links-wrapper-separators{
	display:none;
}

.block-outer-wrapper{
	display:none;
}

.primary .action.submit.primary{
	color:white;
}

.primary .action.submit.primary:hover{
	color:white;
}

.inner-container .left-column .item.item-left{
	margin-top: 10px !important;
}

.header-m-top .inner-container .item.item-left{
	margin-top: 10px !important;
}

.header-m-top{
	max-width:none !important;
}

.page-wrapper{
	display:block !important;
}
.form.contact .fieldset .field.note.no-label,
.form.contact .fieldset .legend{
	display:none !important;
}